*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Common Pixel', sans-serif;
}

body{
    background-image: url(../img/body-background1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: white;
}

p{
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
}

button{
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

header{
    background:linear-gradient(red, rgb(124, 2, 2));
    box-shadow: 0 0 2rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 4rem;
}

.todos{
    background-color: white;
}

.normal{
    background-color: rgb(168,160,144);
    color: black;
}

.steel{
    background-color: rgb(168,168,192);
    color: black;
}

.water{
    background-color: rgb(56,153,248);
    color: white;
}

.bug{
    background-color: rgb(168,184,32);
    color: black;
}

.dragon{
    background-color:#7860E0;
    color: white;
}

.electric{
    background-color: rgb(248,208,48);
    color: black;
}

.ghost{
    background-color: rgb(96,96,176);
    color: white;
}

.fire{
    background-color: rgb(240,80,48);
    color: black;
}

.fairy{
    background-color: rgb(231,159,231);
    color: black;
}

.ice{
    background-color: rgb(88,200,224);
    color: black;
}

.fighting{
    background-color: rgb(160,80,56);
    color: white;
}

.grass{
    background-color: rgb(120,200,80);
    color: black;
}

.psychic{
    background-color: rgb(248,112,160);
    color: black;
}

.rock{
    background-color: rgb(184,160,88);
    color: black;
}

.dark{
    background-color: rgb(122,88,72);
    color: white;
}

.ground{
    background-color: rgb(234,214,164);
    color: black;
}

.poison{
    background-color: rgb(176,88,160);
    color: white;
}

.flying{
    background-color: rgb(152,168,240);
    color: black;
}

/*POKEDEX*/
.nan{
    background-color: rgba(255, 255, 255, 0.281);
    border: dotted black;
    color: black;
}

.nav{
    background:linear-gradient(red, rgb(124, 2, 2));
    box-shadow: 0 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 1rem 2rem;
}

.div-logo{
    display: flex;
    flex-direction: row;    
    align-items: center;
    gap: 1rem;
}

.logo-pokedex{
    color: white;
    font-size: 3rem;
}

.logo-pokeball{
    size: 100%;
    max-width: 4rem;
}

.botones-header{
    display: flex;
    gap: 3rem;  
}

.header-nav-btn{
    width: 6rem;
    background-image: linear-gradient(white, grey);
    padding-block: 7px;
    border-radius: 10px;
    transition: 0.1s
}

.header-nav-btn:hover{
    transform: scale(1.1,1.1);
}

.a-header {
    padding-inline: 18px;
    padding-block: 1rem;
}

.buscar-pokemon{
    width: 15rem;
}    

.form {
    justify-content: space-between;
    /* padding: 1rem; */
    gap: 10px;
    /* width: 274px; */
}

.nav-bar{
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    width: 14rem;
}

.btn-buscar{
    background: linear-gradient(white, skyblue);
    color: white;
    width: 100px;
    padding-inline: 1rem;
    border-radius: 12px;
    transition: 0.1s;
}

.btn-buscar:hover{
    transform: scale(1.1,1.1);
}

.img-pokemon{
    max-width: 20rem;
}

.pokemon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin: 3rem;
}

.datos-pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nombre-pokemon{
    display: flex;
    background:linear-gradient(red, rgb(124, 2, 2));
    font-size: 2rem;
    padding: 5px 20px;
    color: white;
    border-radius: 50px;
    gap: 3rem;  
    box-shadow: 0 0 2rem rgb(29, 28, 28);
}

.tipos-pokemon{
    display: flex;
    gap: 15px;
}

.tipo{
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 30px;
    color: white;
    box-shadow: 0 0 2rem rgb(29, 28, 28);
}   

.altura-peso{
    background-color: rgb(207, 199, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-inline: 2rem;
    font-size: 2rem;
    border-radius: 30px;
    box-shadow: 0 0 2rem rgb(29, 28, 28);
}

.altura{
    border-bottom: dotted;
    padding-inline:inherit;
}

/*LISTA COMPLETA*/

.container-lista-completa{
    max-width: 1500px;
}

.lista-ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-inline: 1rem;
    margin-bottom: 100px;
}

.nav-btn{
    padding: 5px 24px;
    border-radius: 50px;
    box-shadow: 0 0 1rem rgb(29, 28, 28);
    cursor: pointer;
    transition: 0.2s;
}

.nav-btn:hover{
    transform: scale(1.1,1.1);
}

.cards-cuerpo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 50px;
    column-gap: 50px;
}

.card{
    display: flex;
    align-items: center;
    width: fit-content;
    box-shadow: 0 0 1rem black;
    transition-duration: 0.2s;
    background-color: rgba(43, 199, 199, 0.486);
}

.card:hover{
    transform: scale(1.1,1.1);
}

.card-numero-nombre{
    display: flex;
    gap: 20px;
    padding: 10px 10px 0 10px;
}

.img-pokemon-card{
    size: 100%;
    max-width: 10rem;
    margin-inline: 15px;
    margin-block: 20px;
}

/*TIENDA POKEMON*/

.nav-tienda-main-container{
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: 100%;
}

.nav-tienda{
    
    width: fit-content;
    text-align: center;
    /*background:right-gradient(red, rgb(124, 2, 2));*/
    box-shadow: 0 0 2rem;
    padding-inline: 2rem;
    padding-block: 3rem;
}

.nav-tienda-ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav-tienda-ul-li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(161, 6, 6, 0.829);
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.nav-tienda-ul-img{
    width: 2rem;
}



/*MEDIA QUERIES*/

@media screen and (min-width: 1024px) {
    .cards-cuerpo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        row-gap: 50px;
        column-gap: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .nav{
        background:linear-gradient(red, rgb(124, 2, 2));
        box-shadow: 0 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;
    }
    .cards-cuerpo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        row-gap: 50px;
        column-gap: 50px;
    }
}

@media screen and (max-width: 912px) {
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 768px) {
    .cards-cuerpo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        row-gap: 50px;
        column-gap: 50px;
    }
}

@media screen and (max-width: 700px) {
    .pokemon{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media screen and (max-width: 425px) {
    .img-pokemon{
        max-width: 100%;
    }
    .logo-pokeball{
        size: 100%;
        max-width: 3rem;
    }
    .logo-pokedex{
        color: white;
        font-size: 2rem;
    }
    .botones-header{
        display: flex;
        gap: 1rem;
    }
    .a-header {
        font-size: 10px;
        padding-inline: 18px;
        padding-block: 10px;
    }
    .nav-bar{
        width: 8rem;
    }
    .header-nav-btn {
        width: 5rem;
        background-image: linear-gradient(white, grey);
        padding-block: 3px;
        border-radius: 10px;
        transition: 0.1s;
    }
    .cards-cuerpo{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        row-gap: 50px;
        column-gap: 50px;
    }
    .nombre-pokemon{
        font-size: 20px;
    }
    .tipo{
        font-size: 20px;
    }   
    .altura-peso{
        font-size: 20px;
    }
    main {
        margin: 1rem 4rem;
    }
}



