*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Common Pixel', sans-serif;
}

body{
    background-image: url(../img/body-background1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: white;
}

p{
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
}

button{
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

header{
    background:linear-gradient(red, rgb(124, 2, 2));
    box-shadow: 0 0 2rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 4rem;
}

.todos{
    background-color: white;
}

.normal{
    background-color: rgb(168,160,144);
    color: black;
}

.acero{
    background-color: rgb(168,168,192);
    color: black;
}

.agua{
    background-color: rgb(56,153,248);
    color: white;
}

.bicho{
    background-color: rgb(168,184,32);
    color: black;
}

.dragon{
    background-color:#7860E0;
    color: white;
}

.electrico{
    background-color: rgb(248,208,48);
    color: black;
}

.fantasma{
    background-color: rgb(96,96,176);
    color: white;
}

.fuego{
    background-color: rgb(240,80,48);
    color: black;
}

.hada{
    background-color: rgb(231,159,231);
    color: black;
}

.hielo{
    background-color: rgb(88,200,224);
    color: black;
}

.lucha{
    background-color: rgb(160,80,56);
    color: white;
}

.planta{
    background-color: rgb(120,200,80);
    color: black;
}

.psiquico{
    background-color: rgb(248,112,160);
    color: black;
}

.roca{
    background-color: rgb(184,160,88);
    color: black;
}

.siniestro{
    background-color: rgb(122,88,72);
    color: white;
}

.tierra{
    background-color: rgb(234,214,164);
    color: black;
}

.veneno{
    background-color: rgb(176,88,160);
    color: white;
}

.volador{
    background-color: rgb(152,168,240);
    color: black;
}

/*POKEDEX*/
.nan{
    background-color: rgba(255, 255, 255, 0.281);
    border: dotted black;
    color: black;
}

.nav{
    background:linear-gradient(red, rgb(124, 2, 2));
    box-shadow: 0 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 1rem 2rem;
}

.div-logo{
    display: flex;
    flex-direction: row;    
    align-items: center;
    gap: 1rem;
}

.logo-pokedex{
    color: white;
    font-size: 3rem;
}

.logo-pokeball{
    size: 100%;
    max-width: 4rem;
}

.btn-header{
    background-image: linear-gradient(white, grey);
    width: 6rem;
    padding: 7px 10px;
    border-radius: 10px;
    transition: 0.1s
}

.btn-header:hover{
    color: black;
    border: solid black;
}

.buscar-pokemon{
    width: 15rem;
}    

.form{
    justify-content: space-between;
    padding: 1rem;
    gap: 10px;
    width: 274px;
}

.nav-bar{
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    width: 8rem;
}

.btn-buscar{
    background: linear-gradient(white, skyblue);
    color: white;
    width: 100px;
    padding-inline: 1rem;
    border-radius: 12px;
}

.btn-buscar:hover{
    background: transparent;
    border:solid skyblue;
    color: skyblue;
}

.img-pokemon{
    size: 100%;
    max-width: 20rem;
}

.pokemon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-inline: 3rem;
}

.datos-pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nombre-pokemon{
    display: flex;
    background:linear-gradient(red, rgb(124, 2, 2));
    font-size: 2rem;
    padding: 5px 20px;
    color: white;
    border-radius: 50px;
    gap: 3rem;  
    box-shadow: 0 0 2rem rgb(29, 28, 28);
}

.tipo{
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 30px;
    color: white;
    box-shadow: 0 0 2rem rgb(29, 28, 28);
}   

.altura-peso{
    background-color: rgb(207, 199, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-inline: 2rem;
    font-size: 2rem;
    border-radius: 30px;
    box-shadow: 0 0 2rem rgb(29, 28, 28);
}

.altura{
    border-bottom: dotted;
    padding-inline:inherit;
}

/*LISTA COMPLETA*/

.lista-ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 10px;
}

.nav-btn{
    padding: 5px 24px;
    border-radius: 50px;
    box-shadow: 0 0 1rem rgb(29, 28, 28);
    cursor: pointer;
    transition: 0.2s;
}

.nav-btn:hover{
    transform: scale(1.1,1.1);
}











@media screen and (max-width: 912px) {
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 700px) {
    .pokemon{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}



